.u-section-1 .u-sheet-1 {
  min-height: 2984px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 734px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 476px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 734px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-block-5463-199 {
  font-weight: 700;
  background-image: none;
}

.u-block-5463-200 {
  height: 64px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 717px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 422px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 717px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-2 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-block-5463-13 {
  font-weight: 700;
  background-image: none;
}

.u-block-5463-141 {
  height: 64px;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 719px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 422px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 719px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-3 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-block-5463-148 {
  font-weight: 700;
  background-image: none;
}

.u-block-5463-149 {
  height: 64px;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 20px;
  margin-bottom: -5px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 674px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 397px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 674px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-4 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-block-5463-169 {
  font-weight: 700;
  background-image: none;
}

.u-block-5463-170 {
  height: 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4048px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 1.31%;
    min-height: 843px;
  }

  .u-section-1 .u-image-2 {
    height: 333px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 843px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 528px;
  }

  .u-section-1 .u-image-3 {
    height: 310px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 528px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 495px;
  }

  .u-section-1 .u-image-4 {
    height: 292px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    height: 267px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1162px;
  }

  .u-section-1 .u-image-2 {
    height: 258px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1162px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 404px;
  }

  .u-section-1 .u-image-3 {
    height: 237px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 379px;
  }

  .u-section-1 .u-image-4 {
    height: 224px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2171px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 620px;
  }

  .u-section-1 .u-image-1 {
    height: 401px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-1 .u-image-2 {
    height: 360px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 776px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 358px;
  }

  .u-section-1 .u-image-3 {
    height: 356px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 339px;
  }

  .u-section-1 .u-image-4 {
    height: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6372px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    height: 252px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-1 .u-image-2 {
    height: 227px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1195px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 225px;
  }

  .u-section-1 .u-image-3 {
    height: 224px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 213px;
  }

  .u-section-1 .u-image-4 {
    height: 212px;
  }
}