.u-section-1 .u-sheet-1 {
  min-height: 1812px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px 29px 0;
}

.u-section-1 .u-image-1 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 29px;
}

.u-section-1 .u-text-3 {
  margin: 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-image-2 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 20px 0 40px;
}

.u-section-1 .u-text-6 {
  margin: 0 28px 0 32px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px 30px 0;
}

.u-section-1 .u-image-3 {
  height: 220px;
  width: 369px;
  margin: 0 29px;
}

.u-section-1 .u-text-8 {
  margin: 0 30px;
}

.u-section-1 .u-text-9 {
  margin: 0 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-1 {
  margin-top: 20px;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-4 {
  padding: 1px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 29px;
}

.u-section-1 .u-image-4 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-11 {
  margin: 0 29px;
}

.u-section-1 .u-text-12 {
  margin: 1px 30px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-image-5 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-14 {
  margin: 0 20px 0 40px;
}

.u-section-1 .u-text-15 {
  margin: 0 30px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px 30px 0;
}

.u-section-1 .u-image-6 {
  height: 220px;
  width: 369px;
  margin: 0 29px;
}

.u-section-1 .u-text-17 {
  margin: 0 30px;
}

.u-section-1 .u-text-18 {
  margin: 0 30px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 440px;
}

.u-section-1 .u-container-layout-7 {
  padding: 1px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px 29px 0;
}

.u-section-1 .u-image-7 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-20 {
  margin: -1px 29px 0;
}

.u-section-1 .u-text-21 {
  margin: 1px 30px 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-image-8 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-23 {
  margin: 0 20px 0 40px;
}

.u-section-1 .u-text-24 {
  margin: 0 30px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 444px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-25 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px 30px 0;
}

.u-section-1 .u-image-9 {
  height: 220px;
  width: 369px;
  margin: 0 29px;
}

.u-section-1 .u-text-26 {
  margin: 0 30px;
}

.u-section-1 .u-text-27 {
  margin: 30px 30px 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 451px;
}

.u-section-1 .u-container-layout-10 {
  padding: 1px 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 29px 0;
}

.u-section-1 .u-image-10 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-29 {
  margin: 0 29px;
}

.u-section-1 .u-text-30 {
  margin: 0 30px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 451px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-image-11 {
  height: 220px;
  width: 367px;
  margin: 0 30px;
}

.u-section-1 .u-text-32 {
  margin: 0 20px 0 40px;
}

.u-section-1 .u-text-33 {
  margin: 0 30px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  top: 0;
  width: 1280px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 451px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-1 .u-image-12 {
  height: 220px;
  width: 369px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-35 {
  margin: 0 30px;
}

.u-section-1 .u-text-36 {
  margin: 0 30px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-3 {
  transform-origin: right center 0px;
  position: absolute;
  top: 896px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1815px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 188px;
    margin-top: -2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 187px;
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -1028px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 446px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 188px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 446px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 187px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 446px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 478px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 188px;
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 71px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 478px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 187px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 478px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 186px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 401px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    height: 188px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-29 {
    margin-top: -12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 401px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 313px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 401px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 186px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    height: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    height: 142px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -1127px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    height: 144px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-top: 1px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-5 {
    height: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 307px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-6 {
    height: 142px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-top: 1px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 383px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-7 {
    height: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 383px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-8 {
    height: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-23 {
    margin-top: 0;
  }

  .u-section-1 .u-text-24 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 383px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-9 {
    height: 142px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    width: auto;
  }

  .u-section-1 .u-text-27 {
    margin-top: 75px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 334px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-10 {
    height: 144px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-30 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 334px;
  }

  .u-section-1 .u-text-31 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-11 {
    height: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-line-2 {
    width: 240px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 334px;
  }

  .u-section-1 .u-image-12 {
    height: 142px;
    width: 240px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-36 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5214px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-1 .u-image-3 {
    height: 320px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-1 {
    margin-top: -2116px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 263px;
  }

  .u-section-1 .u-image-4 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 262px;
  }

  .u-section-1 .u-image-5 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 261px;
  }

  .u-section-1 .u-image-6 {
    height: 320px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 263px;
  }

  .u-section-1 .u-image-7 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 449px;
  }

  .u-section-1 .u-image-8 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-24 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 422px;
  }

  .u-section-1 .u-image-9 {
    height: 320px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-27 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 0;
    margin-bottom: 27px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 426px;
  }

  .u-section-1 .u-image-10 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 466px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-1 .u-image-11 {
    height: 324px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 355px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-1 .u-image-12 {
    height: 256px;
    margin-top: -3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-35 {
    margin-top: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4054px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-1 .u-image-1 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    height: 203px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-1 .u-image-3 {
    height: 201px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 352px;
  }

  .u-section-1 .u-image-4 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 353px;
  }

  .u-section-1 .u-image-5 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 353px;
  }

  .u-section-1 .u-image-6 {
    height: 201px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 372px;
  }

  .u-section-1 .u-image-7 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 381px;
  }

  .u-section-1 .u-image-8 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 356px;
  }

  .u-section-1 .u-image-9 {
    height: 201px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 335px;
  }

  .u-section-1 .u-image-10 {
    height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 357px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 204px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 310px;
  }

  .u-section-1 .u-text-34 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 161px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 1px 44px 0;
}

.u-section-2 .u-form-1 {
  height: 281px;
  width: 552px;
  margin: 30px auto 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: auto;
}

.u-section-2 .u-form-group-2 {
  margin-left: auto;
}

.u-section-2 .u-form-group-3 {
  margin-left: auto;
}

.u-section-2 .u-form-group-4 {
  margin-left: auto;
}

.u-section-2 .u-btn-1 {
  margin-left: auto;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 227px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-2 .u-icon-7 {
  margin-top: 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    width: 470px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 372px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -9px;
  }
}