.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 6px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 635px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 20px 272px 20px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 2s;
}

.u-section-2 .u-back-image-1 {
  left: -50px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 2s;
}

.u-section-2 .u-back-image-2 {
  left: -50px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 2s;
}

.u-section-2 .u-back-image-3 {
  left: -50px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 2s;
}

.u-section-2 .u-back-image-4 {
  left: -50px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 2s;
}

.u-section-2 .u-back-image-5 {
  left: -50px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    margin-right: -19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-right: -24px;
  }

  .u-section-2 .u-back-image-1 {
    object-position: 22.15% 50%;
  }

  .u-section-2 .u-back-image-2 {
    object-position: 4.44% 50%;
  }

  .u-section-2 .u-back-image-3 {
    object-position: 0% 50%;
  }

  .u-section-2 .u-back-image-5 {
    object-position: 0% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-right: -27px;
  }

  .u-section-2 .u-back-image-1 {
    object-position: 42.85% 50%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 440px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 1px 44px 0;
}

.u-section-3 .u-form-1 {
  height: 281px;
  width: 552px;
  margin: 30px auto 0;
}

.u-section-3 .u-form-group-1 {
  margin-left: auto;
}

.u-section-3 .u-form-group-2 {
  margin-left: auto;
}

.u-section-3 .u-form-group-3 {
  margin-left: auto;
}

.u-section-3 .u-form-group-4 {
  margin-left: auto;
}

.u-section-3 .u-btn-1 {
  margin-left: auto;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 227px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1px 41px 0 0;
}

.u-section-3 .u-icon-7 {
  margin-top: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 470px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 372px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -9px;
  }
}