.u-section-1 .u-sheet-1 {
  min-height: 2277px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
  text-align: center;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1240px;
  height: 606px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 633px;
}

.u-section-1 .u-image-2 {
  width: 1220px;
  height: 636px;
  margin: 30px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2237px;
  }

  .u-section-1 .u-image-1 {
    height: 542px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-left: 293px;
  }

  .u-section-1 .u-image-2 {
    height: 547px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2235px;
  }

  .u-section-1 .u-image-1 {
    height: 469px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 73px;
  }

  .u-section-1 .u-image-2 {
    height: 471px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2121px;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 356px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2338px;
  }

  .u-section-1 .u-image-1 {
    height: 228px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
    margin-right: -11px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-2 {
    height: 224px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}