.u-section-1 .u-sheet-1 {
  min-height: 1601px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-size: 2.25rem;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1240px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1528px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1475px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 82px;
  }
}