.u-section-1 .u-sheet-1 {
  min-height: 1723px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-size: 2.25rem;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 1241px;
  height: 368px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1634px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1569px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 101px;
  }
}